/************************* COLORS **********************/

//light colors
$white-grey-970: rgb(248, 248, 248);

//dark colors
$grey-750: rgb(196, 187, 187);
$grey-500: rgb(128, 128, 128);
$grey-390: rgb(100, 97, 97);
$grey-220: rgb(56, 56, 56);

/***************************** SPACING *******************/

$size-xxxs: 0.5rem;
$size-xxs: 1rem;
$size-xs: 2rem;
$size-s: 3rem;
$size-m: 4rem;
$size-l: 5rem;

/******************* FONTS *****************/
