@use '../../styles//variables.module.scss' as vars;
@use '../../styles//mixins.scss' as mixins;

.container {
  @include mixins.flex(column, center, center);
  position: absolute;
  top: 30rem;
  opacity: 0;
  animation: fadeIn 4s forwards;
  animation-delay: 0.7s;
}

.header-button {
  border: none;
  background-color: transparent;
  padding: vars.$size-xs;
  font-size: 0;
  background-image: url('../../../public/images/150.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 55px;
  height: 30px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .header-button {
    width: 40px;
    height: 20px;
  }
}
